<meta charset="utf-8">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="#home">WebService Entregando Mercadorias</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#home">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#mapas">Mapas</a>
                </li>
                <li>
                    <a class="page-scroll" href="#rotas">Rotas</a>
                </li>
                <li>
                    <a class="page-scroll" href="#ajuda">Ajuda</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align: left;">
                <h1>Ajuda</h1>
                <p style="text-align: left;">
	                Layouts dos JSON's utilizados no sistema.
                </p>
                <p style="text-align: left;">
	                <ul class="nav navbar-nav">
		                <li>
		                    <a class="page-scroll" href="./layout_json_malhas.json">Layout JSON para carga de mapas</a>
		                </li>
		                <li>
		                    <a class="page-scroll" href="./layout_json_rotas.json">Layout JSON para processamento de rotas</a>
		                </li>
		                <li>
		                    <a class="page-scroll" href="./layout_json_retorno_rotas.json">Layout JSON do retorno do processamento de rotas</a>
		                </li>
		            </ul>
                </p>
            </div>
        </div>
        
    </div>
</section>