<meta charset="utf-8">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="#home">WebService Entregando Mercadorias</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#home">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#mapas">Mapas</a>
                </li>
                <li>
                    <a class="page-scroll" href="#rotas">Rotas</a>
                </li>
                <li>
                    <a class="page-scroll" href="#ajuda">Ajuda</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="text-align: left;">
                <h1>Home</h1>
                <p style="text-align: left;">
	                Sistema de logística de entregas desenvolvido com o propósito de realizar entregas visando sempre o menor custo. 
                </p>
                <p style="text-align: left;">
	                ** Solução em fase de Desenvolvimento **
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12" style="text-align: left;">
                <h1>Pendências Gerais</h1>
                <p style="text-align: left;">
	                Concluir a implementação dos testes automatizados!
                </p>
            </div>
        </div>
        
        
    </div>
</section>