<meta charset="utf-8">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand page-scroll" href="#home">WebService Entregando Mercadorias</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#home">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#mapas">Mapas</a>
                </li>
                <li>
                    <a class="page-scroll" href="#rotas">Rotas</a>
                </li>
                <li>
                    <a class="page-scroll" href="#ajuda">Ajuda</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="container">
    
		<div class="row">
            <div class="col-lg-12" style="text-align: left;">
                <h1>Rotas</h1>
                <p style="text-align: left;">
	                Carregar Rotas
	                <input type="file" name="file" multiple onchange="angular.element(this).scope().rotaUploadedFile(this)" />
                </p>
                <p style="text-align: left;">
	                <button class="btn btn-default" target="_self"  ng-click="obterRotas()">
	                	Processar
	                </button>
                </p>
            </div>
        </div>
        
        <div class="row" ng-if="errosProcessados != null || errosProcessados != undefined">
        	<div class="col-lg-12" style="text-align: left; margin-top: 15px;">
	            <div class="panel panel-danger">
					<div class="panel-heading">Erros</div>
					
					<table class="table">
						<tr> 
							<th>#</th>
							<th>Mensagem</th>
							<th>Mapa</th>
							<th>Origem</th>
							<th>Destino</th>
						</tr>
						<tr ng-repeat="erro in errosProcessados">						       
							<td>{{$index+1}}</td>
							<td>{{erro.mensagem}}</td>
							<td>{{erro.mapa.nome}}</td>
							<td align="left">{{erro.rotas.origem}}</td>
							<td>{{erro.rotas.destino}}</td>
						</tr>
					</table>
				</div>
            </div>
        </div>
        
        <div class="row">
        	<div class="col-lg-12" style="text-align: left; margin-top: 15px;">
	            <div class="panel panel-default">
					<div class="panel-heading">Rotas Processadas</div>
					
					<table class="table">
						<tr> 
							<th>ID</th>
							<th>Mapa</th>
							<th>Rota</th>
							<th>Roteiro</th>
							<th>km</th>
							<th>Custo</th>
						</tr>
						<tr ng-repeat="rota in rotasProcessadas">						       
							<td>{{$index+1}}</td>
							<td>{{rota.mapa.nome}}</td>
							<td>{{rota.origem}} {{rota.destino}}</td>
							<td>{{rota.descricao}}</td>
							<td>{{rota.km}}</td>
							<td>{{rota.custoMedio}}</td>
						</tr>
					</table>
				</div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12" style="text-align: left;">
                <h1>Pendências da Tela</h1>
                <p style="text-align: left;">
	                Concluir a implementação dos testes automatizados!
                </p>
            </div>
        </div>
        
        
    </div>
</section>